
/* ***** Header and Nav Styling ***** */

nav {
    text-align: center ;
    margin-bottom: 300px;
}

/* ***** Form Styles ***** */

div.searchDom {
    margin-top: 200px;
    margin-left: 10px;
    margin-bottom: 25px;
    padding: 0px 0px 10px 5px;
    border-bottom: 2px solid gray;
    /* opacity: 75%; */
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 0 auto;
}
.searchDom_Container {
    background-color: #fafafa;
    padding: 5%;
    margin-bottom: 5%;
}
div.parks, div.concerts, div.arts, div.restaurant {
    margin-bottom: 5px;
}
#see_itenerary {
    width: 35%;
}


/* ***** Results Styling ***** */
#container {
    display: flex;
    justify-content: space-evenly;
}

#results-container {
    display: flex;
    flex-direction: column;
    /* width: 85%; */
    /* margin-left: auto;
    margin-right: auto;  */
    background-color: gray;
    border-radius: 5px;
    opacity: 85%;
    text-align: center;
    width: 40%;
    height: 370px;
    overflow: scroll;
}
#itinerary {
    background: white;
}

#results-container section {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* ***** Itinerary Styling ***** */

#itinerary {
    display: flex;
    flex-direction: column;
    background-color: gray;
    border-radius: 5px;
    opacity: 85%;
    text-align: center;
    width: 40%;
    /* margin-left: auto;
    margin-right: auto;  */
    height: 370px;
    overflow: scroll;
}

/* **** Jeremy's Park's Styling **** */

/* #results-container .park {
    display: flex;
    flex-direction: column;
} */

#results-container section h2 {
    border-bottom: 2px solid black;
}

/* **** Kurt's Restaurant Styling **** */

* {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

}
button {
    color: midnightblue;
    opacity: none;
    transition: 0.3s ease;
    padding: 3px;
    border-radius: 2px;
}
button:hover {
    color: white;
    background-color: midnightblue;
    padding:4px;
    transition: 0.3s ease;
}
.kk-img {
    max-width: 140px;
    max-height: auto;
}
body {
    background: url("https://live.staticflickr.com/543/18500881285_18de0890a7_b.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient( midnightblue, rgba(43,43,43,0.9)); */
    background: midnightblue;
    color: white;
    height: 100px;
    align-items: center;
    opacity: 0.8;
}
nav h1 {
    font-size: 80px;
    opacity: 1.0;
}

/* Footer Styling */

/* footer {
    display: flex;
    justify-content: center;
    
    background-color: midnightblue;
} */