
/* ******* Body and Background Image ******  */

* {
    margin: 0;
    font-family: 'Noto Sans', sans-serif;

}

body {
    background: url("https://live.staticflickr.com/543/18500881285_18de0890a7_b.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

button {
    color: midnightblue;
    opacity: none;
    transition: 0.3s ease;
    padding: 3px;
    border-radius: 2px;
}
button:hover {
    color: white;
    background-color: midnightblue;
    padding:4px;
    transition: 0.3s ease;
}


/* ***** Header and Nav Styling ***** */

nav {
    text-align: center;
    display: flex;
    justify-content: center;
    /* background-image: linear-gradient( midnightblue, rgba(43,43,43,0.9)); */
    background: midnightblue;
    color: white;
    height: 100px;
    align-items: center;
    opacity: 0.8;
    overflow: hidden;
}

nav h1 {
    font-size: 80px;
    opacity: 1.0;
    overflow: hidden;
}

/* Headers for itinerary and search restuls */

#header-container {
    display: flex;
    color: white;
    justify-content: space-around;
}
#header-container h2 {
    margin-bottom: 5px;
    text-shadow: 1px 1px black ;
}


/* ******* Search Container and Contents ****** */

.searchDom_Container {
    background-color: #fafafa;
    padding: 5%;
    margin-bottom: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#tabs {
    text-align: center;
    margin-bottom: 5px;
}

.hidden {
    display: none;
}


div.searchDom {

    margin-left: 10px;
    margin-bottom: 25px;
    padding: 0px 0px 10px 5px;
    border-top: 2px solid gray;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.searchDom_Container {
    margin-top: 0px;
    background-color: rgba(250,250,250,0.8);
    padding: 4px;
    margin-bottom: 5%;
}

div.parks, div.concerts, div.arts, div.restaurant {
    margin-bottom: 5px;
}
/* #see_itenerary {
    width: 35%;
} */



/* ***** Results Styling ***** */
#container {
    display: flex;
    justify-content: space-evenly;
}

#results-container {
    display: flex;
    flex-direction: column;
    /* width: 85%; */
    /* margin-left: auto;
    margin-right: auto;  */
    background-color: rgba(128,128,128,0.8);
    border-radius: 5px;
    text-align: center;
    width: 40%;
    height: 370px;
    overflow: scroll;
}

#results-container section {
    margin-top: 10px;
    margin-bottom: 10px;
    
}

/* ***** Itinerary Styling ***** */

#itinerary {
    display: flex;
    flex-direction: column;
    background-color: rgba(128,128,128,0.8);
    border-radius: 5px;
    text-align: center;
    width: 40%;
    /* margin-left: auto;
    margin-right: auto;  */
    height: 370px;
    overflow: scroll;
}

/* **** Jeremy's Park's Styling **** */

/* #results-container .park {
    display: flex;
    flex-direction: column;
} */

#results-container section h2 {
    border-bottom: 2px solid black;
}

/* **** Kurt's Restaurant Styling **** */


.kk-img {
    max-width: 140px;
    max-height: auto;
}

/* Footer Styling */

/* footer {
    display: flex;
    justify-content: center;
    
    background-color: midnightblue;
} */